<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Exam</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <!--
            BUG: There is something strange here. We want to have a menu that allows users to navigate between
                 two pages. It works but the navigation is horribly slow. Find the problem and fix it.
          -->
          <a class="nav-link" href="page-one">Page One</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="page-two">Page Two</a>
        </li>
      </ul>
    </div>
  </nav>

  <router-outlet></router-outlet>
</div>