<div>
  <mat-card>
    <mat-form-field>
      <input type="text" matInput placeholder="What do you want to find?">
    </mat-form-field>
    <button mat-mini-fab color="accent"><mat-icon>search</mat-icon></button>
  </mat-card>

  <mat-card style="margin-top: 25px">
    <mat-list>
      <h3 matSubheader>
        <mat-icon matListIcon>videocam</mat-icon>Videos
      </h3>
      <mat-list-item>
        <h3 matLine>
          <a href="http://sample.server.com/sample.mp4" target="_blank">Samplefile.mp4</a>
        </h3>
        <p matLine class="mat-caption">Players: ...</p>
        <p matLine class="mat-caption">Tags: ...</p>
      </mat-list-item>

      <h3 matSubheader>
        <mat-icon matListIcon>camera_alt</mat-icon>Images
      </h3>
      <mat-list-item>
        <h3 matLine>
          <a href="http://sample.server.com/sample.jpg" target="_blank">Samplefile.jpg</a>
        </h3>
        <p matLine class="mat-caption">Players: ...</p>
        <p matLine class="mat-caption">Tags: ...</p>
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>