<h2>Static Layout</h2>
<div fxLayout="row">
    <button>E1</button><button>E2</button><button>E3</button>
</div>

<h2>Data Binding</h2>
<button (click)="rowColumnLayout = rowColumnLayout == 'column' ? 'row' : 'column'">
    Switch layout</button>
<div [fxLayout]="rowColumnLayout">
    <button>E1</button><button>E2</button><button>E3</button>
</div>

<h2>Nested Layout</h2>
<div fxLayout="column">
    <button>E1</button>
    <div fxLayout="row">
        <button fxFlex="100px">E2.1</button><button fxFlex="grow">E2.2</button>
    </div>
    <button>E3</button>
</div>